<div>
  <div id="user-count">
    <p>You are user <%=@user_count%>
  </div>
  <div id="story-so-far">
    <%=@story_so_far%>
  </div>
  <div id="referral-link">
    <p>Your referral link is <a href="http://127.0.0.1/user/new?referred_from=<%=@user.uuid%>">http://127.0.0.1/user/new?referred_from=<%=@user.uuid%></a></p>

  </div>
</div>

