<div>
  <div id="user-count">
    <p>You are user <%=@user_display.username%>
  </div>
  <div id="story-so-far">
    <%=@user_display.story%>
  </div>
  <div id="referral-link">
    <p>Your referral link is <a href="<%=@user_display.referral_url%>"><%=@user_display.referral_url%></a></p>
  </div>
</div>

