<% if @status.to_s == "404" %>
  <br/>

  <div class="container" id="content">
    <div class="alert alert-danger" role="alert">
      Sorry, This Hoot couldn't be found. :(
    </div>
  </div>
<% else %>

  <div class="error">

    <!--Alert -->
    <%= image_tag 'exception_handler/alert.png', width: "150", alt: "Error!", title: "Sorry, A Server Error Occurred", class: "alert" %>

    <!--Message -->
    <div class="message">
      <strong><%= details[:name] %></strong>
      <span><%= details[:message] %></span>
    </div>

  </div>

<% end %>
