header{
  background-image: url("/assets/header-bg.jpg");
  background-repeat:none;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  text-align:center;
  color:#fff}
header .intro-text{padding-top:70px;padding-bottom:50px}
header .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:22px;line-height:22px;margin-bottom:25px}

@media (min-width:768px){
  header .intro-text{padding-top:200px;padding-bottom:200px;}
  header .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:40px;line-height:40px;margin-bottom:25px}
}
div .previous {
  padding-top: 20px;
}
div #story-so-far{
  text-align: center;
  border: solid #01BFBA 3px;
  overflow: scroll;
  height: 200px;
}
footer {
  padding-top: 50px;
}
