<div id="story-window">
  <ul class="timeline">
    <% direction = %w(r l) %>
    <% @user_display.story.each do |element| %>
      <li>
        <div class="direction-<%=direction.first%>">
          <div class="flag-wrapper">
            <span class="flag"><%=element[:name]%></span>
            <span class="time-wrapper"><span class="time"><%=element[:country]%></span></span>
          </div>
          <div class="desc"><%=element[:tale]%></div>
        </div>
      </li>
      <% direction.push(direction.shift) %>
    <% end %>
  </ul>
</div>
