<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Type=text/html;charset=utf8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=476013819243777";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading">add to the tale</div>
        <div class="intro-lead-in">Word Of Mouth</div>
        <a href="/" class="btn btn-default header-button">What is this?</a>
      </div>
    </div>
  </header>

  <%= yield %>

  <footer class="footer">
      WordOfMouth © Chris Pomfret 2015
  </footer>

</body>
</html>
